/* AnimatedAssistant.css */
.lottie-container {
  height: 300px;
  width: 533px;
  margin-left: -120px;
  position: sticky;
  top: 10px;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.animation-wrapper {
  position: relative;
  width: 533px;
  height: 300px;
}

.eda-image {
  width: 533px;
  height: 300px;
  position: absolute;
  top: 0;
  left: -120px;
  object-fit: contain;
}

.eda-animation {
  width: 533px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.animation-wrapper.loading .eda-animation,
.animation-wrapper.loaded .eda-image {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.animation-wrapper.loading .eda-image,
.animation-wrapper.loaded .eda-animation {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
} 